body {
  background-color: red;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 0, 51, 0.205);
  font-size: 45px;
}

h2 {
  font-family: Arial;
  color: rgb(230, 7, 7);
  font-size: 25px;
}

div {
  font-family: Tahoma;
  font-size: 20px;
  color: rgba(255, 0, 234, 0.671);
}

ol {
  border: solid;
  border-color: rgb(161, 0, 0);
  margin-left: initial;
  margin-right: auto;
  width: 25%;
  height: 200px;
}

ul {
  border: solid;
  border-color: rgb(161, 0, 0);
  margin-left: initial;
  margin-right: auto;
  width: 66%;
  height: 200px;
}

p {
  font-family: Tahoma;
  color: crimson;
  font-size: 35px;
  margin-top: 130px;
  font-weight: bolder;
  margin-right: 50px;
}

div.topcorner {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  text-align: left;
}

a {
  font-family: Arial;
  color: black;
  font-size: 25px;
  text-decoration: none;
}

td {
  border: maroon;
  background-color: mintcream;
  font-family: Arial, Helvetica, sans-serif;
}

td.e {
  border: rgb(17, 150, 121);
  background-color: rgb(170, 161, 192);
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: mintcream;
  font-family: Arial, Helvetica, sans-serif;
  color: crimson;
  background-color: rgba(172, 231, 229, 0.664);
}

.b1,
.b2,
.b3 {
  background-color: rgb(201, 233, 206);
  color: rgb(253, 0, 0);
  font-weight: bolder;
  font-size: 20pt;
  opacity: 0.5;
}
.link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: maroon;
}
.nodeClass {
  position: absolute;
  background-color: rgb(255, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: maroon;
}

.table1 {
  background-color: rgba(255, 0, 0, 0.575);
  border: 40pt;
  border: thick;
}

td {
  background-color: blanchedalmond;
}
.tt {
  background-color: rgb(248, 244, 244);
}

input {
  text-align: center;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
